<!-- footer content -->
<footer>
    <div class="">
        <p class="pull-right">
            {{ configuracao.valor("titulo.site.completo") }}
            |
            <img src="{{ asset('logo_01.png', 'img_commom') }}" class="logo" alt="{{ configuracao.valor("titulo.site.completo") }}" >
        </p>
    </div>
    <div class="clearfix"></div>
</footer>