{% extends "AdminCommonBundle::layout.html.twig" %}

{% block title %}
    {{ configuracao.valor("titulo.site.resumido") }} -
    {{ 'txt.sistema.menu.top.right.usuario.editar.senha'|transchoice(0,{}, 'messagesUserBundle') }}
{% endblock %}
{% block body -%}
    {% block fos_user_content %}
        <p>{{ 'registration.check_email'|trans({'%email%': user.email}, 'FOSUserBundle') }}</p>
    {% endblock fos_user_content %}
{% endblock %}
