@import "cores";

/*Header*/
@import "header";

/*Services*/
@import "servicos";

/*Testimonial*/
@import "testional";

/*Fun Facts - como desenvolvemos*/
@import "como.desenvolvemos";

/*Contact*/
@import "home.contato";

/*Footer*/
@import "footer";

@import "media";

.loader { background: url(/bundles/admincommon/images/loader.gif); width: 220px; height: 19px; display: none; margin: 0 auto; }
.modal-body p {text-align: center;}